6x/aplicacao/aghu_jee/aghu/aghu-sicon/src/main/resources/br/gov/mec/aghu/sicon/util/contratoent.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"    
    xmlns="cnet_contratoent"
    targetNamespace="cnet_contratoent"
    elementFormDefault="qualified"> 
    
    <xsd:annotation>
      <xsd:appinfo>
        Schema de validação para Contrato. Consulte a equipe de suporte do ComprasNet
        para maiores detalhes. Ultima atualização em 11 de fevereiro de 2004.
        Copyright 2001 - ComprasNet - Todos os Direitos Reservados - All Rights Reserved
      </xsd:appinfo>
      <xsd:documentation>
        Este documento foi criado e testado tendo como base o schema recomendado pela W3C
        http://www.w3c.org e o Microsoft XML Parser 4.0.
      </xsd:documentation>
    </xsd:annotation> 
    
    <xsd:simpleType name="nulo">
		<xsd:annotation><xsd:documentation>
			Definição para aceitar dado tipo nulo
		</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value=""/>
		</xsd:restriction>		
	</xsd:simpleType>
	
	<xsd:simpleType name="ambienteTipo">
		<xsd:annotation><xsd:documentation>
			Utilizado para descrever o ambiente do grande porte onde será feita a comunicação. 
			Para o ambiente de produção, o valor aceito é produção.
			No ambiente de treinamento, o valor válido é treinamento.
		 </xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="desenvolvimento|homologação|produção|treinamento"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="acaoContratoTipo">
	  <xsd:annotation><xsd:documentation>
      Descreve o tipo de ação a ser executada no contrato. São elas: inclusão, alteração, exclusão, consulta, encerramento,
      e para contratos de entidades não SiSG: inclusão não sisg, alteração não sisg, encerramento não sisg, inclusão item não sisg.
    </xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="inclusão|inclusão item|alteração|exclusão|consulta|encerramento|rescisão"/>
		</xsd:restriction>
	</xsd:simpleType>
		
	<xsd:simpleType name="acaoItemTipo">
		<xsd:annotation><xsd:documentation>
			Descreve o tipo de ação referente a um item de contrato não sisg. Assume as opções inclusão, alteração,
			ou exclusão.
		</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="inclusão|alteração|exclusão"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="simOuNaoTipo">	  
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(s|n|S|N)"/>
		</xsd:restriction>		
	</xsd:simpleType>
	
	<xsd:simpleType name="simOuNaoTipoNulo">
		<xsd:union memberTypes="simOuNaoTipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="aditivoTipo">	  
		<xsd:annotation><xsd:documentation>
			Aceita "+" ou "-", para indicar se termo aditivo é de supressão ou não.
		</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([+]|[\-])"/>
		</xsd:restriction>		
	</xsd:simpleType>
	<xsd:simpleType name="aditivoTipoNulo">
		<xsd:union memberTypes="aditivoTipo nulo"/>
	</xsd:simpleType>
		
	<xsd:simpleType name="modTipoLicit">
	  <xsd:annotation><xsd:documentation>
      Descreve a modalidade da licitação. Os valores possíveis são 01, 02, 03, 04, 05, 06, 07, 22, 33 ou 44.
    </xsd:documentation></xsd:annotation>	
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(0[1-7]|20|22|33|44)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="modTipoLicitNulo">
		<xsd:union memberTypes="modTipoLicit nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="modTipoContrato">
	  <xsd:annotation><xsd:documentation>
      Descreve o tipo do contrato. Os valores possíveis são 50, 51, 52, 53 ou 54. 55 ou 56 para termos.
    </xsd:documentation></xsd:annotation>	
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(5[0-6])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="modTipoContratoNulo">
		<xsd:union memberTypes="modTipoContrato nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="modTipoContratoOriginal">
	  <xsd:annotation><xsd:documentation>
      Descreve o tipo de contrato original (não termos). Os valores possíveis são 50, 51, 52, 53 ou 54.
    </xsd:documentation></xsd:annotation>	
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(5[0-4])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="modTipoContratoOriginalNulo">
		<xsd:union memberTypes="modTipoContratoOriginal nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="modTipoTermo">
	  <xsd:annotation><xsd:documentation>
      Descreve o tipo de termos de contrato.
    </xsd:documentation></xsd:annotation>	
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(5[5-6])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="modTipoTermoNulo">
		<xsd:union memberTypes="modTipoTermo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="horaTipo">
		<xsd:annotation><xsd:documentation>
			Formata a hora para o padrão de hora adotado no grande porte. Segue o formato "HHMM",
			onde HH representa as horas e MM os minutos, ambos sem nenhum caracter especial e complementados
			com zero a esquerda caso a hora ou minuto seja inferior a dez.
		</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
			<xsd:pattern value="(([0-1][0-9]|2[0-3])[0-5][0-9])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="horaTipoNulo">
		<xsd:union memberTypes="horaTipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="indicadorMSTipo">
		<xsd:annotation><xsd:documentation>
			Define o tipo de item, se é material "m", serviço "s" ou ambos "MS".
		</xsd:documentation></xsd:annotation>	
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="((m|M)(s|S)|(m|s|M|S))"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="indicadorMSTipoNulo">
		<xsd:union memberTypes="indicadorMSTipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="indicadorTipo">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(m|s|M|S)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="indicadorTipoNulo">
		<xsd:union memberTypes="indicadorTipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="dataTipo">
		<xsd:annotation><xsd:documentation>
			Formata a data para o padrão de data adotado no grande porte. Segue o formato "DDMMYYYY",
			onde DD representa o dia, MM o mês e YYYY o ano com 4 posições. Todas sem nenhum caracter
			especial e complementados com zero a esquerda caso o dia ou o mes seja inferior a dez.      
			</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="((0[1-9]|1[0-9]|2[0-9]|3[0-1])(0[1-9]|1[0-2])([0-9]{4}))"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dataTipoNulo">
		<xsd:union memberTypes="dataTipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="anoTipo">
		<xsd:annotation><xsd:documentation>
			Formatação do tipo Ano, com 4 posições.
		</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:gYear"/>
	</xsd:simpleType>	
	<xsd:simpleType name="anoTipoNulo">
		<xsd:union memberTypes="anoTipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="numTam2Tipo">	
		<xsd:annotation><xsd:documentation>
			Sequencial numérico com até 2 posições.
		</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:maxInclusive value="99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam2TipoNulo">
		<xsd:union memberTypes="numTam2Tipo nulo"/>
	</xsd:simpleType>
			
	<xsd:simpleType name="numTam4Tipo">	
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="9999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam4TipoNulo">
		<xsd:union memberTypes="numTam4Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="numTam5Tipo">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="99999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam5TipoNulo">
		<xsd:union memberTypes="numTam5Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="numTam6Tipo">
	  <xsd:annotation><xsd:documentation>
      Sequencial numérico com até 6 posições.
    </xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="999999" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam6TipoNulo">
		<xsd:union memberTypes="numTam6Tipo nulo"/>
	</xsd:simpleType>

	<xsd:simpleType name="numTam7Tipo">
	  <xsd:annotation><xsd:documentation>
      Sequencial numérico com até 7 posições.
    </xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="9999999" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam7TipoNulo">
		<xsd:union memberTypes="numTam7Tipo nulo"/>
	</xsd:simpleType>

	<xsd:simpleType name="numTam8Tipo">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="99999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam8TipoNulo">
		<xsd:union memberTypes="numTam8Tipo nulo"/>
	</xsd:simpleType>

	<xsd:simpleType name="numTam9Tipo">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam9TipoNulo">
		<xsd:union memberTypes="numTam9Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="numTam10Tipo">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="9999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam10TipoNulo">
		<xsd:union memberTypes="numTam10Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="numTam11Tipo">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="99999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam11TipoNulo">
		<xsd:union memberTypes="numTam11Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="numTam14Tipo">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="99999999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam14TipoNulo">
		<xsd:union memberTypes="numTam14Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="numTam15Tipo">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="999999999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam15TipoNulo">
		<xsd:union memberTypes="numTam15Tipo nulo"/>
	</xsd:simpleType>
		
	<xsd:simpleType name="numTam16Tipo">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="9999999999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam16TipoNulo">
		<xsd:union memberTypes="numTam16Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="numTam17Tipo">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="99999999999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam17TipoNulo">
		<xsd:union memberTypes="numTam17Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="numTam19Tipo">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="9999999999999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam19TipoNulo">
		<xsd:union memberTypes="numTam19Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="numTam25Tipo">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="9999999999999999999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numTam25TipoNulo">
		<xsd:union memberTypes="numTam25Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="stringLatin">
		<xsd:annotation><xsd:documentation>
			Só permite entrada de caracteres Latin1.
		</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="stringTam2Tipo">
		<xsd:annotation><xsd:documentation>
		  Sequencial de strings com até 2 posições.
		</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
			<xsd:maxLength value="2"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringTam2TipoNulo">
		<xsd:union memberTypes="stringTam2Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="stringTam7Tipo">
		<xsd:annotation><xsd:documentation>
		  Sequencial de strings com até 7 posições.
		</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
			<xsd:maxLength value="7"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringTam7TipoNulo">
		<xsd:union memberTypes="stringTam7Tipo nulo"/>
	</xsd:simpleType>

	<xsd:simpleType name="stringTam10Tipo">
		<xsd:annotation><xsd:documentation>
		  Sequencial de strings com até 10 posições.
		</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
			<xsd:maxLength value="10"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringTam10TipoNulo">
		<xsd:union memberTypes="stringTam10Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="stringTam14Tipo">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
			<xsd:maxLength value="14"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringTam14TipoNulo">
		<xsd:union memberTypes="stringTam14Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="stringTam15Tipo">
	  <xsd:annotation><xsd:documentation>
      Sequencial de strings com até 15 posições.
    </xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
			<xsd:maxLength value="15"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<xsd:simpleType name="stringTam15TipoNulo">
		<xsd:union memberTypes="stringTam15Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="stringTam17Tipo">
	  <xsd:annotation><xsd:documentation>
      Sequencial de strings com até 17 posições.
    </xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
			<xsd:maxLength value="17"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<xsd:simpleType name="stringTam17TipoNulo">
		<xsd:union memberTypes="stringTam17Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="stringTam20Tipo">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
			<xsd:maxLength value="20"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringTam20TipoNulo">
		<xsd:union memberTypes="stringTam20Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="stringTam30Tipo">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
			<xsd:maxLength value="30"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringTam30TipoNulo">
		<xsd:union memberTypes="stringTam30Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="stringTam40Tipo">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
			<xsd:maxLength value="40"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringTam40TipoNulo">
		<xsd:union memberTypes="stringTam40Tipo nulo"/>
	</xsd:simpleType>
		
	<xsd:simpleType name="stringTam137Tipo">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
			<xsd:maxLength value="137"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringTam137TipoNulo">
		<xsd:union memberTypes="stringTam137Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="stringTam141Tipo">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
			<xsd:maxLength value="141"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringTam141TipoNulo">
		<xsd:union memberTypes="stringTam141Tipo nulo"/>
	</xsd:simpleType>

	<xsd:simpleType name="stringTam509Tipo">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
			<xsd:maxLength value="509"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringTam509TipoNulo">
		<xsd:union memberTypes="stringTam509Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="stringTam1248Tipo">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{IsBasicLatin},\p{IsLatin-1Supplement}]*"/>
			<xsd:maxLength value="1248"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringTam1248TipoNulo">
		<xsd:union memberTypes="stringTam1248Tipo nulo"/>
	</xsd:simpleType>
	
	<xsd:element name="cnet">
    	<xsd:complexType><xsd:sequence>  
			  
			  <xsd:element name="ambiente" type="ambienteTipo"/>
			  <xsd:element name="sistema" type="stringTam15Tipo"/>
			  <xsd:element name="acao" type="acaoContratoTipo"/>
			  <xsd:element name="cpf" type="numTam11Tipo"/>
			  <xsd:element name="senha" type="xsd:string"/>
			  <xsd:element name="uasg" type="numTam6Tipo"/>
			  <xsd:element name="uasg_subrog" minOccurs="0" maxOccurs="1" type="numTam6TipoNulo" nillable="true"/>
			  <xsd:element name="cod_interno_uasg" minOccurs="0" maxOccurs="1" type="stringTam10TipoNulo" nillable="true"/>
			  <xsd:element name="tipo" type="modTipoContrato"/>
			  <xsd:element name="numero" type="numTam5Tipo"/>
			  <xsd:element name="ano" type="anoTipo"/>
			  <xsd:element name="tipo_contrato_original" minOccurs="0" maxOccurs="1" type="modTipoContratoOriginalNulo" nillable="true"/>
			  <xsd:element name="numero_contrato_original" minOccurs="0" maxOccurs="1" type="numTam5TipoNulo" nillable="true"/>
			  <xsd:element name="ano_contrato_original" minOccurs="0" maxOccurs="1" type="anoTipoNulo" nillable="true"/>
			  <xsd:element name="uasg_licit" minOccurs="0" maxOccurs="1" type="numTam6TipoNulo" nillable="true"/>
			  <xsd:element name="modalidade_licit" minOccurs="0" maxOccurs="1" type="modTipoLicitNulo" nillable="true"/>
			  <xsd:element name="numero_licit" minOccurs="0" maxOccurs="1" type="numTam5TipoNulo" nillable="true"/>
			  <xsd:element name="ano_licit" minOccurs="0" maxOccurs="1" type="anoTipoNulo" nillable="true"/>			  
			  <xsd:element name="inciso" minOccurs="0" maxOccurs="1" type="stringTam2TipoNulo" nillable="true"/>
			  <xsd:element name="dt_publicacao" minOccurs="0" maxOccurs="1" type="dataTipoNulo" nillable="true"/>
			  <xsd:element name="aquisicao" minOccurs="0" maxOccurs="1" type="indicadorMSTipoNulo" nillable="true"/>
			  <xsd:element name="objeto" minOccurs="0" maxOccurs="1" type="stringTam509TipoNulo" nillable="true"/>
			  <xsd:element name="cnpjcpf_contratado" minOccurs="0" maxOccurs="1" type="stringTam14TipoNulo" nillable="true"/>
			  <xsd:element name="razao_social_contratado" minOccurs="0" maxOccurs="1" type="stringTam137Tipo" nillable="true"/>			  			  
			  <xsd:element name="cnpj_contratante" minOccurs="0" maxOccurs="1" type="numTam14TipoNulo" nillable="true"/>		
			  <xsd:element name="razao_social_contratante" minOccurs="0" maxOccurs="1" type="stringTam137Tipo" nillable="true"/>			  			  
			  <xsd:element name="processo" minOccurs="0" maxOccurs="1" type="stringTam17TipoNulo" nillable="true"/>
			  <xsd:element name="fundamento_legal" minOccurs="0" maxOccurs="1" type="stringTam141TipoNulo" nillable="true"/>
			  <xsd:element name="dt_inicio_vigencia" minOccurs="0" maxOccurs="1" type="dataTipoNulo" nillable="true"/>
			  <xsd:element name="dt_fim_vigencia" minOccurs="0" maxOccurs="1" type="dataTipoNulo" nillable="true"/>
			  <xsd:element name="dt_assinatura" minOccurs="0" maxOccurs="1" type="dataTipoNulo" nillable="true"/>
			  <xsd:element name="nu_ordem_servico" minOccurs="0" maxOccurs="1" type="numTam15TipoNulo" nillable="true"/>
			  <xsd:element name="valor_total" minOccurs="0" maxOccurs="1" type="numTam17TipoNulo" nillable="true"/>
			  <xsd:element name="tipo_aditivo" minOccurs="0" maxOccurs="1" type="aditivoTipoNulo" nillable="true"/>

      
      <xsd:element minOccurs="0" maxOccurs="1" name="dados_orcamentarios">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="dado_orcamentario" minOccurs="0" maxOccurs="53">
            <xsd:complexType><xsd:sequence>
              <xsd:element name="programa_trabalho" type="stringTam17TipoNulo" />
            </xsd:sequence></xsd:complexType>
          </xsd:element>
        </xsd:sequence></xsd:complexType>
      </xsd:element>
      
      <xsd:element minOccurs="0" maxOccurs="1" name="itens">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType><xsd:sequence>
              <xsd:element name="numero_item" type="numTam5Tipo"/>
              <xsd:element name="codigo_mat_serv" minOccurs="0" maxOccurs="1" type="numTam9TipoNulo" nillable="true"/>
              <xsd:element name="indicador_mat_serv" minOccurs="0" maxOccurs="1" type="indicadorTipoNulo" nillable="true"/>
              <xsd:element name="marca" minOccurs="0" maxOccurs="1" type="stringTam20TipoNulo" nillable="true"/>
              <xsd:element name="quantidade" minOccurs="0" maxOccurs="1" type="numTam10TipoNulo" nillable="true"/>
              <xsd:element name="unidade" minOccurs="0" maxOccurs="1" type="stringTam20TipoNulo" nillable="true"/>
              <xsd:element name="valor_total" minOccurs="0" maxOccurs="1" type="numTam17TipoNulo" nillable="true"/>
              <xsd:element name="descricao" minOccurs="0" maxOccurs="1" type="stringTam1248TipoNulo" nillable="true"/>
            </xsd:sequence></xsd:complexType>
          </xsd:element>
        </xsd:sequence></xsd:complexType>
      </xsd:element>

	  <xsd:element name="tipo_emergencial" type="simOuNaoTipoNulo" />

  
    </xsd:sequence></xsd:complexType>
  </xsd:element>



  
</xsd:schema>