6x/aplicacao/aghu_jee/aghu/aghu-exames-client/src/main/java/br/gov/mec/aghu/exames/contratualizacao/util/retorno/RetornoExamesPrefeitura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Andre Luiz Machado (hcpa) -->
<!--W3C Schema generated by XMLSpy v2012 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="unidadeExecutora" type="xs:string"/>
	<xs:element name="siglaExame" type="xs:string"/>
	<xs:element name="numeroUnico" type="xs:string"/>
	<xs:element name="mensagemErro" type="xs:string"/>
	<xs:element name="materialAnalise" type="xs:string"/>
	<xs:element name="itens">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idExterno" />
				<xs:element ref="siglaExame"/>
				<xs:element ref="materialAnalise"/>
				<xs:element ref="unidadeExecutora"/>
				<xs:element ref="idAmostra"/>
				<xs:element ref="numeroUnico"/>
				<xs:element ref="dataNumeroUnico"/>
				<xs:element ref="mensagemErro"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="idExterno" type="xs:string"/>
	<xs:element name="idAmostra" type="xs:string"/>
	<xs:element name="header">
		<xs:complexType>
			<xs:attribute name="quantidadeSolicitacoes" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dataHoraGeracao" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="detalhes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header"/>
				<xs:element ref="itens"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataNumeroUnico" type="xs:string"/>
</xs:schema>
