6x/aplicacao/aghu_jee/aghu/aghu-exames-client/src/main/java/br/gov/mec/aghu/exames/contratualizacao/util/ExamesPrefeitura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by edson (edson) -->
<!--W3C Schema generated by XMLSpy v2012 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="unidadeExecutora">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="solicitacoes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="solicitacaoExame" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="solicitacaoExame">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="informacoesClinicas" />
				<xs:element ref="dataHoraColeta" />
				<xs:element ref="solicitacaoSemAgenda" />
				<xs:element ref="medicoSolicitante" />
				<xs:element ref="paciente" />
				<xs:element ref="itens" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="siglaExame">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sexo">
		<xs:simpleType>
			<xs:restriction base="xs:string" >
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rua">
		<xs:simpleType>
			<xs:restriction base="xs:string" >
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="paciente">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nome" />
				<xs:element ref="nomeMae" />
				<xs:element ref="dataNascimento"  />
				<xs:element ref="sexo" />
				<xs:element ref="numeroCartaoSaude" />
				<xs:element ref="logradouro" />
				<xs:element ref="nacionalidade" />
				<xs:element ref="raca" />
				<xs:element ref="etnia" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="numeroCartaoSaude">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:maxInclusive value="999999999999999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="numero">
		<xs:simpleType>
			<xs:restriction base="xs:int" >
				<xs:maxInclusive value="99999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nomeMae">
		<xs:simpleType>
			<xs:restriction base="xs:string" >
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nome">
		<xs:simpleType>
			<xs:restriction base="xs:string" >
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="medicoSolicitante">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="crm" />
				<xs:element ref="nome" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="materialAnalise">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="logradouro">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rua" />
				<xs:element ref="numero" />
				<xs:element ref="complemento" />
				<xs:element ref="bairro" />
				<xs:element ref="cidade" />
				<xs:element ref="cep" />
				<xs:element ref="siglaUf" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="itens">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idExterno" />
				<xs:element ref="siglaExame" />
				<xs:element ref="materialAnalise" />
				<xs:element ref="unidadeExecutora" />
				<xs:element ref="intervaloColeta" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="intervaloColeta">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="informacoesClinicas">
		<xs:simpleType>
			<xs:restriction base="xs:string" >
				<xs:maxLength value="500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="idExterno">
		<xs:simpleType>
			<xs:restriction base="xs:long" >
				<xs:maxInclusive value="99999999999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="header">
		<xs:complexType>
			<xs:attribute name="quantidadeSolicitacoes" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="planoConvenio" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dataHoraGeracao" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:long" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="convenio" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="detalhes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header"  />
				<xs:element ref="solicitacoes"  />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataNascimento">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="dataHoraColeta">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="solicitacaoSemAgenda">
		<xs:simpleType>
			<xs:restriction base="xs:string" >
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>	
	<xs:element name="crm">
		<xs:simpleType>
			<xs:restriction base="xs:int" >
			 	<xs:maxInclusive value="999999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="complemento">
		<xs:simpleType>
			<xs:restriction base="xs:string" >
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cidade">
		<xs:simpleType>
			<xs:restriction base="xs:string" >
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cep">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:maxInclusive value="99999999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bairro">
		<xs:simpleType>
			<xs:restriction base="xs:string" >
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nacionalidade">
		<xs:simpleType>
			<xs:restriction base="xs:int" >
				<xs:maxInclusive value="999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="raca">
		<xs:simpleType>
			<xs:restriction base="xs:string" >
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="etnia">
		<xs:simpleType>
			<xs:restriction base="xs:int" >
				<xs:maxInclusive value="99999999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="siglaUf">
		<xs:simpleType>
			<xs:restriction base="xs:string" >
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>	
</xs:schema>
